/*  your css code here. If applicable */
.container{
	background: #f5f5f5;
	padding: 20px;
	font-size: 10px;
}

#heading{
		font-size:20px;
}
.items{
	background: white;
	padding:10px;
	border: 1px solid lightgray;
	margin: 10px 0;
	font-weight: bold;	
}
.author{
	text-align:end;
}